.pokemon__nombre,
.pokemon__filtro {
  display: flex;
  justify-content: center;
  background-color: $amarillo;
  margin-left: 0;
  margin-right: 0;
}

.nombre_card {
  width: 60%;
  margin: 20px 30px 50px 30px;
  border: 0;
  flex-direction: row;
}

.filtro_card {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.filtro_boton {
  text-decoration: none;
}
.filtro-datos {
  padding: 10px;
  justify-content: space-around;
  align-items: baseline;
}
#pokemontipo {
  //   background-color: yellowgreen;
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}

// Transitio Imagen
// .pokemon__img {
//   position: relative;

//   img.top:hover {
//     opacity: 0;
//   }
// }

// #pokemonimg {
//   -webkit-transition: opacity 1s ease-in-out;
//   -moz-transition: opacity 1s ease-in-out;
//   -o-transition: opacity 1s ease-in-out;
//   transition: opacity 1s ease-in-out;
// }
